<h1>Edit Email Frequency Record  <span class="label label-info"><%=@email.id%></span></h1>
<div class="container">
<%= form_for @email do |f| %>
  <%=  f.label "EMAIL DOMAIN: "+(@email[:emaildomain]).to_s %><br>
  <%=  f.label "EMAIL FREQUENCY: "+@email[:email_frequency].to_s %><br>
  <%=  f.label "REPORTING PERIOD: "+@email[:month].to_s + " "+ @email[:year].to_s %><br>
  <%=  f.label :bridge %>:<br>
  <div class='container'>
  <% Email::BRIDGEVALUE.each do |bv| %>
  <%= f.radio_button(:bridge, bv.to_s)%><%= Email::BRIDGENAMES[bv]%> <br>
  <% end %>
</div>
<%= f.submit %>
<% end %>
</container>
