<h1>Edit Email Frequency Record  <span class="label label-info"><%=@email.id%></span></h1>
<div class="container">
<%= form_for @email do |f| %>
  <%=  f.label "Email Domain" %>
  <%=  f.text_field :emaildomain %><br>
  <%=  f.label :emailFrequency %><%=  f.number_field(:emailFrequency) %><br>
  <%=  f.label :month %><%=  f.number_field(:month) %><br>
    <%=  f.label :year %><%=  f.number_field(:year) %><br>
  <%=  f.label :bridge %>:<br>
  <div class='container'>
  <% Email::BRIDGEVALUE.each do |bv| %>
  <%= f.radio_button(:bridge, bv.to_s)%><%= Email::BRIDGENAMES[bv]%> <br>
  <% end %>
</div>
<%= f.submit %>
<% end %>
</container>
