<div class="container">
  <h1>Load email data from CSV</h1>
  <p>
   <%= form_tag emails_import_path, multipart: true do %>
   <%= file_field_tag :file%><%= submit_tag "Load email data" %>
   <% end %>
  </p>
</div>

  <!-- <div class="container">
 Distinct email domains <%#=Email::DISTICTDOMAINS %><br>
 Distinct email domains with bridge <%#=(Email::DISTICTDOMAINSBRIDGE).each do |dd| %><br>
<ol>
  <li><%#= dd[:emaildomain] %> as <%#= dd[:bridge] %></li>
</ol>
 <%#end %>
 </div> -->
<!-- distinct domains counts  <%#=Email::DISTICTDOMAINSCOUNT %> <br>
distinct emails  <%#=Email::DISTINCTEMAIL %> -->

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ClusterMetric ID</th>
        <th>Domain</th>
        <th>Bridge</th>
        <th>Month</th>
        <th>Frequency</th>
      </tr>
      <tbody>
        <% @emails.each do |email| %>
            <tr>
              <td><%= email.id%> </td>
              <td><%= email.emaildomain%> </td>
              <td><%= email.bridge%> </td>
              <td><%= email.month%> </td>
              <td><%= email.emailFrequency%> </td>
              <% end %>
            </tr>
        </tbody>
  </table>
</div>
