<div class="container">
<h1>New email record</h1>
<p>Add a new email record to the Cluster Metrics database.</p>
<%= form_for @email do |f| %>
  <%=  f.label "Email domain" %>
  <%=  f.text_field :emaildomain %><br>
  <%=  f.label "Email Frequency" %><%=  f.number_field(:email_frequency) %><br>
  <%=  f.label "Month"%><%=  f.number_field(:month) %><br>
    <%=  f.label "Year" %><%=  f.number_field(:year) %><br>
  <%=  f.label "Bridge" %>:<br>
  <div class='container'>
  <% Email::BRIDGEVALUE.each do |bv| %>
  <%= f.radio_button(:bridge, bv.to_s)%><%= Email::BRIDGENAMES[bv]%> <br>
  <% end %>
</div>
<%= f.submit %>
<% end %>

</div>
