<div class="container">
<h1>New email record</h1>
<h1>find_by_session:user_ID<%=@clusterID = User.find_by_id(session[:user_id]) %></h1>
<h1>.cluster <%=@clusterID.cluster%></h1>
<h1>.id <%=@clusterID.id%></h1>
<h1>.cluster_id <%=@clusterID.cluster_id%></h1>
<h1>.email <%=@clusterID.email%></h1>
<h1>session:email <%=session[:email]%></h1>
<p>Add a new email record to the Cluster Metrics database.</p>
<%= form_for @email do |f| %>
  <%=  f.label "Email domain" %>
  <%=  f.text_field :emaildomain %><br>
  <%=  f.label "Email Frequency" %><%=  f.number_field(:email_frequency) %><br>
  <%=  f.label "Month"%><%=  f.number_field(:month) %><br>
    <%=  f.label "Year" %><%=  f.number_field(:year) %><br>
  <%=  f.label "Bridge" %>:<br>
  <div class='container'>
  <% Email::BRIDGEVALUE.each do |bv| %>
  <%= f.radio_button(:bridge, bv.to_s)%><%= Email::BRIDGENAMES[bv]%> <br>
  <% end %>
</div>
<%= f.submit %>
<% end %>

</div>
