<h1>Emailaggregates#diversity</h1>
<p>Find me in app/views/emailaggregates/diversity.html.erb</p>
<p>  @   @goal1div <%=    @goal1div  %></p>
<p>  distinctCat1ByMonth<%=   @distinctCat1ByMonth %></p>
<p>  distinctCat2ByMonth<%=   @distinctCat2ByMonth %></p>
<p>  distinctCat2ByMonth<%=   @distinctCat2ByMonth %></p>
<p>  distinctCat3ByMonth<%=   @distinctCat3ByMonth %></p>
<p>  distinctCat4ByMonth<%=   @distinctCat4ByMonth %></p>
<p>  distinctCat5ByMonth<%=   @distinctCat5ByMonth %></p>
<p>  Distinct now<%=   @distinctDomainCountCount  %></p>
<p>  Distinct<%=   @monthDistinctDomain %></p>
