  <%= high_chart("my_bar_div", @intensityChart) %>
  <div class="page-curl shadow-bottom">
  	<p>Bridge frequency within a month divided by the bridge intensity metric.</p>
  </div>

<!--
<ol>
  <% @clusterGoals.each do |clustergoal| %>
  <li>ID: <%= clustergoal.id %>, Bridge: <%= clustergoal.bridge %>, FreqGoal: <%= clustergoal.frequencyGoal %>, DivGoal:<%= clustergoal.diversityGoal %>, Goal <%= clustergoal.frequencyGoal * clustergoal.diversityGoal %>
</li>
<% end %></ol> -->
