  <%= high_chart("my_bar_div", @intensityChart) %>

<!-- 
<ol>
  <% @clusterGoals.each do |clustergoal| %>
  <li>ID: <%= clustergoal.id %>, Bridge: <%= clustergoal.bridge %>, FreqGoal: <%= clustergoal.frequencyGoal %>, DivGoal:<%= clustergoal.diversityGoal %>, Goal <%= clustergoal.frequencyGoal * clustergoal.diversityGoal %>
</li>
<% end %></ol> -->
