<h1>hello</h1>

<span> Capital <%=      @totalCategory1byMonth %></span>
<span> Company <%=      @totalCategory2byMonth %></span>
<span> Research <%=      @totalCategory3byMonth %></span>
<span> Public Sector <%=      @totalCategory4byMonth %></span>
<span> Cluster <%=      @totalCategory5byMonth %></span>
<span> Global <%=      @totalCategory6byMonth %></span>
<span> Education <%=      @totalCategory7byMonth %></span>
<span> <%=    @monthContactsArrFeb  %></span>
<span> <%=    @monthContactsArrJan %></span>
<span> <%=     @monthContactsArr[0] %></span>
<span> <%=  @monthNamesModel %></span>
<span> <%=      @totalCategory0byMonth  %></span>
<%= high_chart("my_bar_div", @chart1) %>
