<!DOCTYPE html>
<html>
<head>
  <title>Cluster Metrics - FPX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index">Cluster Metrics <span><%= image_tag "fpx20pct.png"%></span>  </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Total Volume", "/emailaggregates/totalVolume"  %></li>
          <li><%= link_to "Total Contacts", "/emailaggregates/totalContact"  %></li>
          <li><%= link_to "Diversity", "/emailaggregates/diversity"  %></li>
          <li><%= link_to "Average Intensity", "/emailaggregates/averageIntensity"  %></li>
          <li><%= link_to "Intensity", "/emailaggregates/intensity"  %></li>



        </ul>
        <ul class="nav navbar-nav navbar">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "New cluster", "/clusters/new" %></li>
              <li><%= link_to "Load emails", "/emails/load" %></li>
              <li><%= link_to "New email record", "/emails/new" %></li>
              <li><%= link_to "Edit email records", "/emails/edit" %></li>
              <li><%= link_to "Classify email bridges", "/emails/classify" %></li>

            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Cluster data</a></li>
              <li><a href="#">Bridge Goals</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= yield %>

</body>
</html>
