<!DOCTYPE html>
<html>
<head>
  <title>Cluster Metrics - FPX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>

  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">
  <span><%= image_tag "fpx20pct.png"%></span>  </a>
  <div class="yield">
    <% flash.each do |k, v| %>
      <h3 class="flash"><%= v %><h3>
  <% end %>
  <div data-role="navbar" data-grid="d">
      <ul>
          <li><%= link_to "New cluster", "/clusters/new" %></li>
          <li><%= link_to "Load emails", "/emails/load" %></li>
          <li><%= link_to "New email record", "/emails/new" %></li>
          <li><%= link_to "Classify email bridges", "/emails/classify" %></li>
          <% if current_user %>
          <li><%= link_to "Logout", session_path(current_user), :method=>:delete %></li>
          <% else %>
          <li><%= link_to "Login", "/emails/login" %></li>
          <% end %>
      </ul>
  </div>



<%= yield %>
</div>
</div> 
</body>
</html>
